<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.snagapp.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data android:name="roboguice.modules" android:value="co.snagapp.android.injector.RoboGuiceModule"/>

    <application
        android:name=".Snaggy"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_icon"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.LauncherActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeActivity" />

        <receiver
            android:name=".listeners.SmsListener"
            android:exported="true" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.SpamNumbersActivity"
            android:label="@string/title_activity_spam_numbers" >
        </activity>
        <activity
            android:name=".ui.AddNewSpamNumber"
            android:label="@string/title_activity_add_new_spam_number" >
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
